<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AddEditActivity" android:exported="false"/>

        <provider
            android:name=".Receivers$BienProvider"
            android:authorities="com.hico.assetsprovider"
            android:exported="true"
            tools:ignore="ExportedContentProvider"/>

        <receiver android:name=".Receivers$BootReceiver"
            android:exported="true" android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".Receivers$TimeReceiver"
            android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".Receivers$RequestReceiver"
            android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.hico.assetsmanager.REQUEST_BIEN"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>