<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <permission
        android:name="com.hico.assetsmanager.READ_BIENS"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hico_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hico_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiCoAssetsManager">

        <activity android:name=".AddEditBienActivity" />
        <activity android:name=".UserRequestsActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BienContentProvider"
            android:authorities="com.hico.assetsprovider"
            android:exported="true"
            android:readPermission="com.hico.assetsmanager.READ_BIENS" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.TimeChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.BienRequestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hico.assetsmanager.REQUEST_BIEN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
